<%# single category page%>
<div class="container">
    <div class="post-wrap categories">
        <!-- <h2 class="post-title">-&nbsp;Categories&nbsp;·&nbsp;<%-page.category%>-</h2> -->
        <h2 class="post-title">-&nbsp;<i class="iconfont icon-fenlei" style="font-size: 1em;"></i>类别&nbsp;·&nbsp;<%-page.category%>-</h2>
        <!-- 2022年4月5日 下面这句注释掉了 -->
        <%#- partial('archive', {pagination: config.category, index: true}) %>
        <!-- 2022年4月5日 上面这句注释掉了 -->

        <!-- 2022年4月5日 对单页的样式进行单独设置 -->
        <!-- 2022年4月5日 每页条数 -->
        <% var perPage = config.top_generator.per_page %>
        <% var currentPage = url.match(/page\/(.*)\//) ? url.match(/page\/(.*)\//)[1] : 1 %>
        <% var last_year = ''; %>
        <% var posts = site.categories.findOne({name: page.category}).posts %>
        
        <!-- 按date逆序排序 -->
        <% posts.data = posts.data.sort((a, b) => b.date - a.date) %>
        <% posts.slice((currentPage - 1) * perPage, currentPage * perPage ).each(function (post) { %>
                <% var cur_year = post.date.year(); %>
                <% if(last_year !== cur_year){ %>
                    <h3><%- cur_year %></h3>
                <% last_year = cur_year; } %>
                <article class="archive-item">
                    
                    <a class="archive-item-link" href="<%- url_for(post.path) %>">
                    <li class="category-page-post">
                        <%= post.title %>
                    </li>
                    </a>
                    
                    <span class="archive-item-date"><%- date(post.date, theme.date_format) %></span>
                </article>
        <% }) %>

        <% if(Math.ceil(posts.length /  perPage) > 1) { %>
        <nav class="pagination">
            <%- paginator({
                prev_next: false,
                end_size: 1,
                mid_size: 2,
                total: Math.ceil(posts.length /  perPage)
            }) %>
        </nav>

            <% } %>
        <!-- 2022年4月5日 对单页的样式进行单独设置如上 -->
    
    </div>
</div>


<!-- 2022年4月5日 添加过长博文名省略 -->
<style>
    .category-page-post{
        width: 650px;
        height: 24.2px;
        /*不换行*/
        white-space: nowrap;
        /*溢出的话，隐藏*/
        overflow: hidden;
        /*文本溢出时，是否....*/
        text-overflow: ellipsis;
    }
</style>