<footer id="footer" class="footer">
    <div class="copyright">
        <!-- 2022年3月19日 添加 代码高亮、访客量 -->
        <!-- <script src="<%- config.root %>js/prettify.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
             $('pre').addClass('prettyprint linenums');
             $('code').addClass('prettyprint');
             prettyPrint();
             })
        </script> -->
        <!-- 2022年3月23日 添加mermaid支持 -->
        <% if (theme.mermaid.enable) { %>
            <script src='https://unpkg.com/mermaid@<%= theme.mermaid.version %>/dist/mermaid.min.js'></script>
            <script>
              if (window.mermaid) {
                mermaid.initialize({
                                startOnLoad: true,
                                theme: 'neural',
                                     });
              }
            </script>
        <% } %>

        <!-- <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a> -->
            <span>© <%= config.author %>  
            <!-- 访客数量 -->
            <!-- <div> -->
            <% if (theme.visit_counter) { %>
                <%- partial("../_plugins/site-visitor") %>
            <% } %>
            <!-- </div> -->
        </span>
    </div>
</footer>


